/* nav style  */
nav ul li{
    list-style: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;

}
.btn-primary{
    background-color: white;
    color: #25715e;
    border-radius: 3px;
    border-color:#0ca57f ;
    
}
.button{
    background-color:#0ca57f;
    border-radius: 3px;

}
.banner img{
    width:371.12px ;
    height:158.44px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    background-color: #cdeae3;
    border-radius: 10px;
    margin:0px,300px,0px,35px ;
}
.banner-content{
    
    margin:0 300px 0 35px ;

}